@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definiciones globales de SVG para clipPath */
.svg-defs {
  position: absolute;
  width: 0;
  height: 0;
}

body {
  @apply text-zinc-50;
  @apply bg-gray-950
}
